  <li>
    <%= gravatar_for user, {size: 50}%>
    <%= link_to(user.name,user) %>
    <% # 管理者、かつ現在ログインしていないユーザの場合のみ削除用リンクを表示する %>
    <% if current_user.admin? && current_user != user %>
    <%= link_to  "delete", user, method: :delete, data:{confirm: "You sure?"} %>
    <% end %>
  </li>
